<%- include('partials/head',{page: "dashboard"}) %>
<br>
<h2 class="title is-2">Welcome to the Dashboard</h2>
<div class="columns">
    <div class="column">
        <div class="card columns">
            <div class="column is-right has-text-centered">
                <span class="icon-text has-text-link">
                    <span class="icon">
                        <i class="fas fa-cube"></i>
                    </span>
                </span>
            </div>
            <div class="column is-four-fifths">
                Total Items
                <h5 class="has-text-weight-semibold">2</h5>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card columns">
            <div class="column is-right has-text-centered">
                <span class="icon-text has-text-success">
                    <span class="icon">
                        <i class="fas fa-flag"></i>
                    </span>
                </span>
            </div>
            <div class="column is-four-fifths">
                Total Categories
                <h5 class="has-text-weight-semibold">1</h5>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card columns">
            <div class="column is-right has-text-centered">
                <span class="icon-text has-text-primary">
                    <span class="icon">
                        <i class="fas fa-tag"></i>
                    </span>
                </span>
            </div>
            <div class="column is-four-fifths">
                Total Items
                <h5 class="has-text-weight-semibold">2</h5>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card columns">
            <div class="column is-right has-text-centered">
                <span class="icon-text has-text-danger">
                    <span class="icon">
                        <i class="fas fa-border-all"></i>
                    </span>
                </span>
            </div>
            <div class="column is-four-fifths">
                Total Items
                <h5 class="has-text-weight-semibold">2</h5>
            </div>
        </div>
    </div>
</div>

<%- include('partials/foot') %>

              
