<aside class="menu">
        <!-- <p class="menu-label">
          Analytics
        </p>
        <ul class="menu-list">
          <li><a href="/admin/orders" class="<% if(page=='orders'){ %>is-active<% } %> ">Active Orders</a></li>
          <li><a href="/admin/sales" class="<% if(page=='sales'){ %>is-active<% } %> ">Sales</a></li>
        </ul> -->
        <p class="menu-label">
            Products
        </p>
        <ul class="menu-list">
        <li><a href="/admin/manage" class="<% if(page=='manage'){ %>is-active<% } %> ">Manage</a></li>
        <li><a href="/admin/new" class="<% if(page=='new'){ %>is-active<% } %> ">Add New</a></li>

        <p class="menu-label">
          Types
        </p>
        <ul class="menu-list">
        <li><a href="/admin/types/manage" class="<% if(page=='types-manage'){ %>is-active<% } %> ">Manage</a></li>
        <li><a href="/admin/types/new" class="<% if(page=='types-new'){ %>is-active<% } %> ">Add New</a></li>
        </ul>

        <p class="menu-label">
          Category
        </p>
        <ul class="menu-list">
        <li><a href="/admin/Category/manage" class="<% if(page=='category-manage'){ %>is-active<% } %> ">Manage</a></li>
        <li><a href="/admin/Category/new" class="<% if(page=='category-new'){ %>is-active<% } %> ">Add New</a></li>
        </ul>
</aside>